<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>{{title}}</h2>
    <input type="text" v-model="title" @keydown.enter="addToDo">
    <ul>
      <li v-for="todo in todos">
        <input type="checkbox" v-model="todo.done">
        <span :class="{done:todo.done}">{{todo.title}}</span>
      </li>
    </ul>
    <!-- <div>
      {{ todos.filter(v => !v.done).length }}
      /
      {{ todos.length }}
    </div> -->
    <div>
      全选<input type="checkbox" v-model="allDone">
      <span>{{ active }} / {{ all }}</span>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const App = {
      data() {
        return {
          title: "",
          todos: [
            {title:'吃饭',done:false},
            {title:'睡觉',done:true}
          ]
        }
      },
      computed: {
        active() {
          return this.todos.filter(v => !v.done).length
        },
        all() {
          return this.todos.length
        },
        allDone: {
          // 计算属性默认只有get用来获取值
          get() {
            return this.active === 0
          },
          // 计算属性set用来改变值
          set(val) {
            this.todos.forEach(todo => {
              todo.done = val
            })
          }
        }
      },
      methods: {
        addToDo() {
          this.todos.push({
            title:this.title,
            done:false
          })
          this.title = ""
        }
      }
    }
    Vue.createApp(App).mount('#app')
  </script>
  <style>
    .done {
      color: gray;
      text-decoration: line-through;
    }
  </style>
</body>
</html>